[submodule "AMP-sim"]
	path = AMP-sim
	url = git@github.com:Purdue-SoCET/AMP-sim.git
	branch = atalla
[submodule "UVM_1.2"]
	path = UVM_1.2
	url = git@github.com:Purdue-SoCET/UVM_1.2.git
	branch = main
[submodule "aihw-ppci-compiler"]
	path = aihw-ppci-compiler
	url = git@github.com:Purdue-SoCET/aihw-ppci-compiler.git
	branch = master
[submodule "Flowkit"]
	path = Flowkit
	url = git@github.com:Purdue-SoCET/Flowkit.git
	branch = atallax01