[submodule "atalla-sim"]
	path = atalla-sim
	url = git@github.com:Purdue-SoCET/atalla-sim.git
	branch = master
[submodule "UVM_1.2"]
	path = UVM_1.2
	url = git@github.com:Purdue-SoCET/UVM_1.2.git
	branch = main
[submodule "aihw-ppci-compiler"]
	path = aihw-ppci-compiler
	url = git@github.com:Purdue-SoCET/aihw-ppci-compiler.git
	branch = master
[submodule "Flowkit"]
	path = Flowkit
	url = git@github.com:Purdue-SoCET/Flowkit.git
	branch = atallax01